.transparent-table{
    background-color: transparent;
    /* overflow: auto; */
    /* opacity: 50%; */
}



.transparent-table thead th,
.transparent-table tbody td {
  background-color: rgba(255, 255, 255, 0.5);
  opacity: 0.8; 
}

.transparent-table thead th , h4 , h1{
  color: rgb(252, 249, 249); 
}

.transparent-table tbody td {
  color: rgb(79, 41, 41); 
}


@media screen and (max-width: 716px){
.table-responsive{
  overflow-x: auto;
  
  width: 90vw;
 
}

}



  


